<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.blog.domain.BoardVO" alias="BoardVO" />
        <typeAlias type="com.example.blog.domain.CategoryVO" alias="CategoryVO" />
        <typeAlias type="com.example.blog.domain.Like_documentVO" alias="Like_documentVO" />
        <typeAlias type="com.example.blog.domain.MemberVO" alias="MemberVO" />
    </typeAliases>
</configuration>